<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <img src="assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
      </div>
      <div>
        <h4 class="logo-text">Fobia</h4>
      </div>
      <div class="toggle-icon ms-auto">
        <a name="menu-sharp"></a>
      </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <a name="home-sharp"></a>
          </div>
          <div class="menu-title">Dashboard</div>
        </a>
        <ul>
          <li> <a href="index.html.htm">
              <a name="ellipse-outline"></a>Default
            </a>
          </li>
          <li> <a href="index2.html.htm">
              <a name="ellipse-outline"></a>Alternate
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <a name="bag-handle-sharp"></a>
          </div>
          <div class="menu-title">eCommerce</div>
        </a>
        <ul>
          <li><a href="ecommerce-shop-grid-view.html.htm">
              <a name="ellipse-outline"></a>Product Grid
            </a>
          </li>
          <li><a href="ecommerce-shop-list-view.html.htm">
              <a name="ellipse-outline"></a>Product List
            </a>
          </li>
          <li><a href="ecommerce-shop-grid-view-top-filter.html.htm">
              <a name="ellipse-outline"></a>Product Top Filters
            </a>
          </li>
          <li><a href="ecommerce-product-details.html.htm">
              <a name="ellipse-outline"></a>Product Details
            </a>
          </li>
          <li><a href="ecommerce-product-comparison.html.htm">
              <a name="ellipse-outline"></a>Product Comparison
            </a>
          </li>
          <li><a href="ecommerce-shop-cart.html.htm">
              <a name="ellipse-outline"></a>Shoping Cart
            </a>
          </li>
          <li><a href="ecommerce-checkout-details.html.htm">
              <a name="ellipse-outline"></a>Checkout
            </a>
          </li>
          <li><a href="ecommerce-checkout-shipping.html.htm">
              <a name="ellipse-outline"></a>Shipping
            </a>
          </li>
          <li><a href="ecommerce-checkout-payment.html.htm">
              <a name="ellipse-outline"></a>Payment
            </a>
          </li>
          <li><a href="ecommerce-checkout-review.html.htm">
              <a name="ellipse-outline"></a>Review Cart
            </a>
          </li>
          <li><a href="ecommerce-checkout-complete.html.htm">
              <a name="ellipse-outline"></a>Order Complete
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-label">UI Elements</li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <a name="briefcase-sharp"></a>
          </div>
          <div class="menu-title">Widgets</div>
        </a>
        <ul>
          <li> <a href="widgets-static-widgets.html.htm">
              <a name="ellipse-outline"></a>Static Widgets
            </a>
          </li>
          <li> <a href="widgets-data-widgets.html.htm">
              <a name="ellipse-outline"></a>Data Widgets
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="gift-sharp"></a>
          </div>
          <div class="menu-title">Components</div>
        </a>
        <ul>
          <li> <a href="component-alerts.html.htm">
              <a name="ellipse-outline"></a>Alerts
            </a>
          </li>
          <li> <a href="component-accordions.html.htm">
              <a name="ellipse-outline"></a>Accordions
            </a>
          </li>
          <li> <a href="component-badges.html.htm">
              <a name="ellipse-outline"></a>Badges
            </a>
          </li>
          <li> <a href="component-buttons.html.htm">
              <a name="ellipse-outline"></a>Buttons
            </a>
          </li>
          <li> <a href="component-cards.html.htm">
              <a name="ellipse-outline"></a>Cards
            </a>
          </li>
          <li> <a href="component-carousels.html.htm">
              <a name="ellipse-outline"></a>Carousels
            </a>
          </li>
          <li> <a href="component-list-groups.html.htm">
              <a name="ellipse-outline"></a>List Groups
            </a>
          </li>
          <li> <a href="component-media-object.html.htm">
              <a name="ellipse-outline"></a>Media Objects
            </a>
          </li>
          <li> <a href="component-modals.html.htm">
              <a name="ellipse-outline"></a>Modals
            </a>
          </li>
          <li> <a href="component-navs-tabs.html.htm">
              <a name="ellipse-outline"></a>Navs & Tabs
            </a>
          </li>
          <li> <a href="component-paginations.html.htm">
              <a name="ellipse-outline"></a>Pagination
            </a>
          </li>
          <li> <a href="component-popovers-tooltips.html.htm">
              <a name="ellipse-outline"></a>Popovers & Tooltips
            </a>
          </li>
          <li> <a href="component-progress-bars.html.htm">
              <a name="ellipse-outline"></a>Progress
            </a>
          </li>
          <li> <a href="component-spinners.html.htm">
              <a name="ellipse-outline"></a>Spinners
            </a>
          </li>
          <li> <a href="component-notifications.html.htm">
              <a name="ellipse-outline"></a>Notifications
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="leaf-sharp"></a>
          </div>
          <div class="menu-title">Icons</div>
        </a>
        <ul>
          <li> <a href="icons-line-icons.html.htm">
              <a name="ellipse-outline"></a>Line Icons
            </a>
          </li>
          <li> <a href="icons-boxicons.html.htm">
              <a name="ellipse-outline"></a>Boxicons
            </a>
          </li>
          <li> <a href="icons-feather-icons.html.htm">
              <a name="ellipse-outline"></a>Feather Icons
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-label">Forms & Tables</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="newspaper-sharp"></a>
          </div>
          <div class="menu-title">Forms</div>
        </a>
        <ul>
          <li> <a href="form-elements.html.htm">
              <a name="ellipse-outline"></a>Form Elements
            </a>
          </li>
          <li> <a href="form-input-group.html.htm">
              <a name="ellipse-outline"></a>Input Groups
            </a>
          </li>
          <li> <a href="form-layouts.html.htm">
              <a name="ellipse-outline"></a>Forms Layouts
            </a>
          </li>
          <li> <a href="form-validations.html.htm">
              <a name="ellipse-outline"></a>Form Validation
            </a>
          </li>
          <li> <a href="form-date-time-pickes.html.htm">
              <a name="ellipse-outline"></a>Date Pickers
            </a>
          </li>
          <li> <a href="form-select2.html.htm">
              <a name="ellipse-outline"></a>Select2
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="server-sharp"></a>
          </div>
          <div class="menu-title">Tables</div>
        </a>
        <ul>
          <li> <a href="table-basic-table.html.htm">
              <a name="ellipse-outline"></a>Basic Table
            </a>
          </li>
          <li> <a href="table-advance-tables.html.htm">
              <a name="ellipse-outline"></a>Advance Tables
            </a>
          </li>
          <li> <a href="table-datatable.html.htm">
              <a name="ellipse-outline"></a>Data Table
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-label">Pages</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="lock-closed-sharp"></a>
          </div>
          <div class="menu-title">Authentication</div>
        </a>
        <ul>
          <li> <a href="authentication-sign-in-basic.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Sign In Basic
            </a>
          </li>
          <li> <a href="authentication-sign-in-cover.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Sign In Cover
            </a>
          </li>
          <li> <a href="authentication-sign-in-simple.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Sign In Simple
            </a>
          </li>
          <li> <a href="authentication-sign-up-basic.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Sign Up Basic
            </a>
          </li>
          <li> <a href="authentication-sign-up-cover.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Sign Up Cover
            </a>
          </li>
          <li> <a href="authentication-sign-up-simple.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Sign Up Simple
            </a>
          </li>
          <li> <a href="authentication-reset-password-basic.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Reset Password Basic
            </a>
          </li>
          <li> <a href="authentication-reset-password-cover.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Reset Password Cover
            </a>
          </li>
          <li> <a href="authentication-reset-password-simple.html.htm" target="_blank">
              <a name="ellipse-outline"></a>Reset Password Simple
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="pages-user-profile.html.htm">
          <div class="parent-icon">
            <a name="person-circle-sharp"></a>
          </div>
          <div class="menu-title">User Profile</div>
        </a>
      </li>
      <li>
        <a href="pages-edit-profile.html.htm">
          <div class="parent-icon">
            <a name="create-sharp"></a>
          </div>
          <div class="menu-title">Edit Profile</div>
        </a>
      </li>
      <li>
        <a href="pages-invoices.html.htm">
          <div class="parent-icon">
            <a name="receipt-sharp"></a>
          </div>
          <div class="menu-title">Invoice</div>
        </a>
      </li>
      <li>
        <a href="pages-to-do.html.htm">
          <div class="parent-icon">
            <a name="shield-checkmark-sharp"></a>
          </div>
          <div class="menu-title">Invoice</div>
        </a>
      </li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="copy-sharp"></a>
          </div>
          <div class="menu-title">Extra Pages</div>
        </a>
        <ul>
          <li><a href="pages-faq.html.htm">
              <a name="ellipse-outline"></a>FAQ
            </a>
          </li>
          <li><a href="pages-pricing-tables.html.htm">
              <a name="ellipse-outline"></a>Pricing
            </a>
          </li>
          <li><a href="pages-errors-404-error.html.htm">
              <a name="ellipse-outline"></a>404 Error
            </a>
          </li>
          <li><a href="pages-errors-500-error.html.htm">
              <a name="ellipse-outline"></a>500 Error
            </a></li>
          <li><a href="pages-errors-coming-soon.html.htm">
              <a name="ellipse-outline"></a>Coming Soon
            </a></li>
          <li><a href="pages-starter-page.html.htm">
              <a name="ellipse-outline"></a>Blank Page
            </a></li>
        </ul>
      </li>
      <li class="menu-label">Charts & Maps</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="bar-chart-sharp"></a>
          </div>
          <div class="menu-title">Charts</div>
        </a>
        <ul>
          <li> <a href="charts-apex-chart.html.htm">
              <a name="ellipse-outline"></a>Apex
            </a>
          </li>
          <li> <a href="charts-chartjs.html.htm">
              <a name="ellipse-outline"></a>Chartjs
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="map-sharp"></a>
          </div>
          <div class="menu-title">Maps</div>
        </a>
        <ul>
          <li> <a href="map-google-maps.html.htm">
              <a name="ellipse-outline"></a>Google Maps
            </a>
          </li>
          <li> <a href="map-vector-maps.html.htm">
              <a name="ellipse-outline"></a>Vector Maps
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-label">Others</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <a name="list-sharp"></a>
          </div>
          <div class="menu-title">Menu Levels</div>
        </a>
        <ul>
          <li> <a class="has-arrow" href="javascript:;">
              <a name="ellipse-outline"></a>Level One
            </a>
            <ul>
              <li> <a class="has-arrow" href="javascript:;">
                  <a name="ellipse-outline"></a>Level Two
                </a>
                <ul>
                  <li> <a href="javascript:;">
                      <a name="ellipse-outline"></a>Level Three
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" target="_blank">
          <div class="parent-icon">
            <a name="document-text-sharp"></a>
          </div>
          <div class="menu-title">Documentation</div>
        </a>
      </li>
      <li>
        <a href="https://themeforest.net/user/codervent" target="_blank">
          <div class="parent-icon">
            <a name="link-sharp"></a>
          </div>
          <div class="menu-title">Support</div>
        </a>
      </li>
    </ul>
    <!--end navigation-->
  </aside>
  <!--end sidebar -->

    <!--start top header-->
    <header class="top-header">
        <nav class="navbar navbar-expand gap-3">
          <div class="mobile-menu-button">
            <a name="menu-sharp"></a>
          </div>
          
          <div class="top-navbar-right ms-auto">
  
            <ul class="navbar-nav align-items-center">
                         
              
              <li class="nav-item dropdown dropdown-large">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                  <div class="position-relative">
                    <span class="notify-badge">8</span>
                    <a name="notifications-sharp"></a>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a href="javascript:;">
                    <div class="msg-header">
                      <p class="msg-header-title">Notifications</p>
                      <p class="msg-header-clear ms-auto">Marks all as read</p>
                    </div>
                  </a>
                  <div class="header-notifications-list">
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-primary">
                          <a name="cart-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Orders <span class="msg-time float-end">2 min
                              ago</span></h6>
                          <p class="msg-info">You have recived new orders</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-danger">
                          <a name="person-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Customers<span class="msg-time float-end">14 Sec
                              ago</span></h6>
                          <p class="msg-info">5 new user registered</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-success">
                          <a name="document-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">24 PDF File<span class="msg-time float-end">19 min
                              ago</span></h6>
                          <p class="msg-info">The pdf files generated</p>
                        </div>
                      </div>
                    </a>
  
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-info">
                          <a name="checkmark-done-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Product Approved <span class="msg-time float-end">2 hrs ago</span></h6>
                          <p class="msg-info">Your new product has approved</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-warning">
                          <a name="send-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">Time Response <span class="msg-time float-end">28 min
                              ago</span></h6>
                          <p class="msg-info">5.1 min avarage time response</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-danger">
                          <a name="chatbox-ellipses-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Comments <span class="msg-time float-end">4 hrs
                              ago</span></h6>
                          <p class="msg-info">New customer comments recived</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-primary">
                          <a name="albums-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New 24 authors<span class="msg-time float-end">1 day
                              ago</span></h6>
                          <p class="msg-info">24 new authors joined last week</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-success">
                          <a name="shield-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">Your item is shipped <span class="msg-time float-end">5 hrs
                              ago</span></h6>
                          <p class="msg-info">Successfully shipped your item</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-warning">
                          <a name="cafe-outline"></a>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">Defense Alerts <span class="msg-time float-end">2 weeks
                              ago</span></h6>
                          <p class="msg-info">45% less alerts last 4 weeks</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <a href="javascript:;">
                    <div class="text-center msg-footer">View All Notifications</div>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-user-setting">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                  <div class="user-setting">
                    <img src="assets/images/avatars/06.png" class="user-img" alt="">
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex flex-row align-items-center gap-2">
                        <img src="assets/images/avatars/06.png" alt="" class="rounded-circle" width="54" height="54">
                        <div class="">
                          <h6 class="mb-0 dropdown-user-name">Jhon Deo</h6>
                          <small class="mb-0 dropdown-user-designation text-secondary">UI Developer</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <a name="person-outline"></a>
                        </div>
                        <div class="ms-3"><span>Profile</span></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <a name="settings-outline"></a>
                        </div>
                        <div class="ms-3"><span>Setting</span></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <a name="speedometer-outline"></a>
                        </div>
                        <div class="ms-3"><span>Dashboard</span></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <a name="wallet-outline"></a>
                        </div>
                        <div class="ms-3"><span>Earnings</span></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <a name="cloud-download-outline"></a>
                        </div>
                        <div class="ms-3"><span>Downloads</span></div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <a name="log-out-outline"></a>
                        </div>
                        <div class="ms-3"><span>Logout</span></div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
  
            </ul>
  
          </div>
        </nav>
      </header>
      <!--end top header-->